@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  background-image: url('../../images/Desktop.jpg');
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
}

@media screen and (max-width: 1139px) {
  .App{
    background-image: none;
  }

  .content {
    width: 100%;
  }
}